* {
    margin: 0;
    padding: 0;
    font-family: Anuphan, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    margin-top: 1.5em;
}

a {
    text-decoration: none;
    list-style: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}
img {
    border-radius: 5%;
}

span {
    font-size: 1em;
}



nav {
    margin-top: 10px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 2em;
}

.top-box {
    display: flex;
    justify-content: center;
}

/* left side  */
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    
}
.product {
    position: relative;
    text-align: center;
    margin: 10px;
}

.bottom-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product h3{
    font-size: 1rem;
}

.img-container {
    position: relative;
}









