* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    padding: auto;
    justify-content: center;
    padding-top: 5rem;
    margin: auto;
    max-width: 800px;
    min-height: 480px;
    
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    width: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 1px black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form input {
    display: block;
    margin: 0.5rem;
    border: none;
    height: 3vh;
    background-color: lightgray;
    opacity: 0.8;
    padding: 1rem;
    border-radius: 5px;
    
}

.container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border: 1px solid transparent;
    background-color: aquamarine;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-right > h1 {
    justify-self: center;
}

.container-left button {
    border: none;
    background-color: blanchedalmond;
    width: 50%;
    padding: 10px;
    margin-top: 5%;
    border-radius: 10px;
    
}

form button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

form span {
    font-size: 0.7rem;
    color: lightgrey;
}
form a {
    color: lightgray;
    font-size: 0.9rem;
}


/* Right Section */

.container-right button {

    border: 1px solid #000;
    background-color: inherit;
    width: 50%;
    padding: 10px;
    margin-top: 5%;
    border-radius: 10px;
}

.container-right button:hover {
    background-color: beige;
    cursor: pointer;
    border: none;
}

.container-right span {
    display: block;
    padding-top: 10px;
    width: 80%;
    text-align: center;
    
}